# ===============================
# OS & Office lock files
# ===============================
.DS_Store
Thumbs.db
~$*
*.tmp

# ===============================
# IDE & Editors
# ===============================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===============================
# Environment & Secrets
# ===============================
.env
.env.*
**/.env
**/.env.*
/env
!.env.example
!**/.env.example

# ===============================
# Frontend & Node
# ===============================
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# ===============================
# Logs
# ===============================
*.log

# ===============================
# Java / Maven
# ===============================
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
model/*.pkl
