# ==============================================================================
# BOOKING & SEAT HOLD SERVICE (.env.example)
# ==============================================================================
APPLICATION_NAME=booking-service
SERVER_PORT=8083
SERVER_ADDRESS=127.0.0.1

# Database Configuration (Port 5433)
DB_URL=jdbc:postgresql://localhost:5433/booking_db
DB_USERNAME=booking_user
DB_PASSWORD=booking_pass_123
DB_DRIVER=org.postgresql.Driver

# JPA / Hibernate
JPA_DDL_AUTO=update
JPA_OPEN_IN_VIEW=false

# Flyway Migration
FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=classpath:db/migration

# Catalog Internal Service URL
CATALOG_SERVICE_URL=http://localhost:8082

# RabbitMQ Event Broker
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Concurrency & Seat Hold Expiration
BOOKING_HOLD_DURATION_MINUTES=3
BOOKING_HOLD_CLEANUP_ENABLED=true
BOOKING_HOLD_CLEANUP_FIXED_DELAY_MS=30000
FOOD_ORDER_PAYMENT_CLEANUP_ENABLED=true
FOOD_ORDER_PAYMENT_CLEANUP_FIXED_DELAY_MS=60000

# Actuator Management
MANAGEMENT_ENDPOINTS=health,info
HEALTH_SHOW_DETAILS=always

# Shared secret between API Gateway and downstream microservices
INTERNAL_GATEWAY_SECRET=8F78D52690EED1A48867F89272F07391B8FBC8968F187BB5C53C60E20243D7AD
INTERNAL_SERVICE_SECRET=CF419427F61EE9D8880297E0309BDFB4504B8917C10B7019A56B1562344DDA03
JWT_SECRET=cineai-development-secret-key-please-change-123456
GATEWAY_URL=http://localhost:8080
