# ==============================================================================
# BOOKING & SEAT HOLD SERVICE (.env.example)
# ==============================================================================
SERVER_PORT=8083

# Database Configuration
DB_URL=jdbc:postgresql://localhost:5433/booking_db
DB_USERNAME=booking_user
DB_PASSWORD=booking_pass_123

# Catalog Internal Service URL
CATALOG_SERVICE_URL=http://localhost:8082

# RabbitMQ Event Broker
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Concurrency & Seat Hold Expiration
BOOKING_HOLD_DURATION_MINUTES=3
BOOKING_HOLD_CLEANUP_ENABLED=true
BOOKING_HOLD_CLEANUP_FIXED_DELAY_MS=30000
FOOD_ORDER_PAYMENT_CLEANUP_ENABLED=true
FOOD_ORDER_PAYMENT_CLEANUP_FIXED_DELAY_MS=60000

# Shared secret between API Gateway and downstream microservices
INTERNAL_GATEWAY_SECRET=8F78D52690EED1A48867F89272F07391B8FBC8968F187BB5C53C60E20243D7AD
